@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using GestionGastosWeb.Widgets

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @if (isLoading)
        {
            <div class="loading-spinner">
                <!-- Aquí tu spinner o pantalla de carga personalizada -->
                <div class="spinner"></div>
            </div>
        }
        else
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        }
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        // Simula una carga de 3 segundos para que veas el spinner
        await Task.Delay(10); // Aquí podrías reemplazarlo con lógica real
        isLoading = false;
    }
}
